/* ======================================== */
.option {
    display: flex; align-items: center;
}
.option > input {
    height: 35px; margin: 5px; padding: 10px;
    border: 1px solid #ddd; border-radius: 5px;
    outline: none; cursor: pointer;
}
.option > label > input {
    width: 150px; height: 35px;
    margin: 5px; padding: 10px;
    border: 1px solid #ddd; border-radius: 5px;
    outline: none; cursor: pointer; font-size: 15px;
}

/* ======================================== */
.option > label,
.option > label > .position{
    display: flex; flex-grow: 1; overflow: scroll;
    word-break: keep-all; white-space: nowrap;
}
.option > label::-webkit-scrollbar,
.option > label > .position::-webkit-scrollbar {
    width: 0; height: 0;
}

/* ======================================== */
.icon {
    user-select: none; cursor: pointer;
    width: 40px; height: 40px;
    border: none; border-radius: 50%;
    color: #0d6efd; background-color: white;
    display: grid; place-items: center;
}
