/* ======================================== */
.products {
    width: calc(100% - 10px); margin: 10px auto;
    display: grid; grid-template-columns: 1fr 1fr;
    border: 1px solid #ddd; border-radius: 10px;
}
@media(max-width: 800px) {
    .products {
        grid-template-columns: 1fr;
    }
}

/* ======================================== */
.title {
    font-weight: bold; padding-left: 10px;
    display: flex; align-items: center;
}
.icon {
    user-select: none; cursor: pointer;
    width: 40px; height: 40px;
    border: none; border-radius: 50%;
    color: #0d6efd; background-color: white;
}

/* ======================================== */
.data {
    width: calc(100% - 10px); margin: 10px auto;
    display: flex; align-items: center;
}
.data > input {
    height: 35px; outline: none; margin-right: 10px;
    border: 1px solid #ddd; border-radius: 5px;
}
.position {
    height: 35px; outline: none; display: block;
    width: calc(100% - 10px); margin: 0 auto;
    padding: 0 5px; font-size: 15px;
    border: 1px solid #ddd; border-radius: 10px;
}
.textarea {
    width: calc(100% - 10px); margin: 10px auto;
    display: block; padding: 5px;
    border: 1px solid #ddd; border-radius: 10px;
    resize: none; outline: none; font-size: 15px;
}

/* ======================================== */
.footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.footer > div {
    place-self: center; font-weight: 600;
}
.footer > div > span:nth-child(2) {
    color: #ff0000dd; 
}
