/* ============================== */
.info {
    width: 98%; margin: 0 auto;
    padding: 0 10px 10px; margin-bottom: 10px;
    border: 1px solid #ddd; border-radius: 5px;
}
.info > p {
    margin: 10px 0;
    font-size: 18px; font-weight: bold;
}
.info > div {
    width: 100%; color: #777;
}
.info > div:nth-child(2) {
    word-break: normal; word-wrap: break-word;
    white-space: pre-line; 
}
