.mask {
    position: fixed; z-index: 10;
    width: 100vw; height: 100vh;
    background-color: #0005;
    display: grid; place-items: center;
}
.mask > div {
    width: max-content; border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 1px 1px #fff;
    display: flex; flex-direction: column;
    gap: 10px; padding: 15px 10px;
}
.mask > div > input,
.mask > div > div > button {
    width: 300px; height: 30px; border-radius: 5px;
    outline: none; border: 0; padding: 5px;
    box-shadow: 0 0 1px 1px #0002;
    background-color: #fff;
}
.mask > div > div > button {
    width: 150px;
}
.mask > div > div > button:hover {
    cursor: pointer; background-color: #eee;
}
