/* ======================================== */
.card {
    --imgSize: 70px; --fontSize: 18px; cursor: pointer;
    display: grid; gap: 10px; align-items: center;
    grid-template-columns: var(--imgSize) 1fr;
    padding: 5px 10px; border-radius: 10px;
}
.card:hover {
    background-color: #eee; 
}
.img {
    width: var(--imgSize); height: var(--imgSize);
    border-radius: var(--imgSize); border: 1px solid #ddd;
}

/* ======================================== */
.content {
    position: relative; overflow: hidden;
}
.content::after {
    content: attr(time); color: #777;
    position: absolute; top: 0; right: 0;
    font-size: calc(var(--fontSize) - 2px);
}
.content > div:nth-child(1),
.content > div:nth-child(2) {
    width: 80%; font-size: var(--fontSize); font-weight: 500;
    overflow: hidden; text-overflow: ellipsis;
    word-break: keep-all; white-space: nowrap;
}
.content > div:nth-child(2) {
    margin-top: 5px; color: #777; font-weight: normal;
    font-size: calc(var(--fontSize) - 2px);
}

/* ======================================== */
@media(max-width: 600px) {
    .card {
        --imgSize: 60px;
        --fontSize: 16px;
    }
}
