.unread {
    background-color: #eee;
}
.card {
    width: 100%; height: max-content;
    border: 1px solid #ddd; border-radius: 10px; 
    margin: 1px 0; padding: 5px;
    display: grid; gap: 15px;
    grid-template-columns: auto auto;
    justify-content: start; cursor: pointer;
}
.img {
    --size: 100px;
    width: var(--size); height: var(--size);
    border-radius: 5px; overflow: hidden;
}
.img > img {
    width: 100%; height: 100%;
    object-fit: cover;
}
