/* ======================================== */
.product_card {
    display: flex; align-items: center;
    padding: 5px; border-top: 1px solid #ddd;
}

/* ======================================== */
.img {
    width: var(--imgSize); height: var(--imgSize);
}
.img > img {
    width: 100%; height: 100%;
    object-fit: cover; border-radius: 5px;
}

/* ======================================== */
.info {
    display: grid; padding-left: 20px;
    width: calc(100% - var(--imgSize)); height: var(--imgSize);
    grid-template-rows: 3fr 2fr 2fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        "name name delete"
        "price price delete"
        ". . delete";
    align-items: center;
}

.info > .name {
    grid-area: name; 
    font-size: var(--fontSize); font-weight: bold;
    display: -webkit-box; overflow: hidden;
    -webkit-box-orient: vertical; -webkit-line-clamp: 2;
    word-wrap: break-word; word-break: break-all;
    color: inherit; text-decoration: none;
}
.info > .price {
    grid-area: price; 
    font-size: calc(var(--fontSize) - 2px); font-weight: bold;
    color: #ff0000aa;
}
.info > .delete {
    grid-area: delete; height: 100%; max-width: 50px; 
    border: 0; margin: auto 0 auto auto;
    color: #777; background-color: #fff;
}
.info > .delete:hover {
    color: #fff; background-color: #0d6efdee;
}

/* ======================================== */
.checkbox {
    height: 17px; width: 17px;
    margin: 0 10px 0 0;
}

/* ======================================== */