/* ======================================== */
.main {
    --imgSize: 420px;
    width: var(--width); margin: 20px auto;
}
.top {
    --gap: 5px;
    display: grid; place-items: center;
    width: 100%; height: 100%;
    grid-template-columns: var(--imgSize);
    grid-template-columns: var(--imgSize) calc(100% - var(--imgSize) - var(--gap));
    gap: var(--gap); overflow: hidden;
}

/* ======================================== */
.info,
.des {
    width: 100%; height: 100%;
    border-radius: 10px; overflow: hidden;
    border: 1px solid #ddd;
    padding: 0 20px; margin: 0 auto;
}
.info > div:nth-child(1),
.info > div:nth-child(2){
    margin-top: 10px;
}
.info > div:nth-child(3) {
    margin: 35px 0 10px;
}

.info > div:nth-child(1),
.info > div:nth-child(2) {
    font-size: 20px; font-weight: 600; overflow: hidden;
    word-break: break-all; word-wrap: break-word;
}
.info > div:nth-child(2) {
    color: #ff0000aa;
}
.info > div:nth-child(3) > div  {
    display: grid; grid-template-columns: 50px auto;
    color: #777; margin-top: 5px;
    align-items: center;
}

/* ======================================== */
.des {
    margin: 10px auto;
}
.des > div:nth-child(1),
.des > div:nth-child(3) {
    font-size: large; font-weight: bold;
    border-bottom: 1px solid #ddd;
    margin: 10px auto 5px;
}
.des > div:nth-child(2) {
    display: grid; align-items: center;
    grid-template-columns: auto 120px;
}
.des > div:nth-child(4) {
    width: 100%; margin-bottom: 10px;
    word-break: normal; word-wrap: break-word;
    white-space: pre-line; color: #777;
}

/* ======================================== */
@media(max-width: 1250px) {
    .top {
        --gap: 10px; grid-template-columns: 100vw;
    } .info, .des {
        width: 80%;
    }
}
@media(max-width: 600px) {
    .main {
        --imgSize: 100vw; margin: 5px auto;
    }.top {
        --gap: 5px;
    } .info, .des {
        width: 100%;
    } .info > div:nth-child(1),
      .info > div:nth-child(2) {
        font-size: 18px;
    }
}
