/* 特性 */
/* ============================== */
.flex {
    display: flex;
}
.grow {
    flex-grow: 1;
}
.link {
    color: inherit;
    text-decoration: none; 
}

/* svg */
/* ============================== */
.icon {
    --size: 22px;
    -webkit-user-drag: none; pointer-events: none;
    width: var(--size); height: var(--size);
}

/* 浮起來的 純icon button */
/* ============================== */
.reload {
    right: calc(0.5 * (100vw - var(--width)) + 10px);
    bottom: calc(var(--height) + 20px);
}
.gotoTop {
    right: calc(0.5 * (100vw - var(--width)) + 10px);
    bottom: calc(var(--height) + 80px);
}
.float-button {
    --size: 50px; --bgColor: #0d6efdcc;
    user-select: none; cursor: pointer;
    position: fixed; z-index: 99;
    width: var(--size); height: var(--size);
    border: none; border-radius: 50%;
    color: white; background-color: var(--bgColor);
    box-shadow: 0 0 5px 5px #0002;
}
.float-button:hover {
    --bgColor: #0d6efdee;
}
.float-button:active {
    transform: scale(1.1);
}

/* 純icon button */
/* ============================== */
.icon-button {
    --size: 40px; --color: #0d6efd; --bgColor: white;
    user-select: none; cursor: pointer; font-size: 13px;
    width: var(--size); height: var(--size);
    margin: 5px; border: none; border-radius: 10px;
    color: var(--color); background-color: var(--bgColor);
}
.icon-button:hover {
    color: var(--bgColor); background-color: var(--color);
}

/* 純文字 button */
/* ============================== */
.button {
    --color: #fff; --bgColor: #0d6efdcc;
    user-select: none; cursor: pointer; font-size: 15px;
    height: 40px; margin: 5px; word-break: keep-all;
    border: 1px solid var(--color); border-radius: 10px;
    color: var(--color); background-color: var(--bgColor);
}
.button:hover {
    --bgColor: #0d6efdee;
}

/* 文字+icon button */
/* ============================== */
.buttonText {
    display: flex; align-items: center; justify-content: center;
}
.buttonText > span {
    margin-left: 15px;
}

/* skeleton */
/* ============================== */
.fill {
    width:100%; height: 100%;
}
.skeleton {
    animation: skeleton-loading 1s linear infinite alternate;
}
@keyframes skeleton-loading {
    0% {
        background-color: hsl(200, 20%, 70%);
    }
    100% {
        background-color: hsl(200, 20%, 95%);
    }
}

/* 通知數字 */
/* ============================== */
.number {
    position: relative;
}
.number::after {
    --size: 20px; content: attr(number);
    width: var(--size); height: var(--size);
    background-color: #ff0000cc; border-radius: 50%;
    color: white; font-size: 13px;
    position: absolute; top: 0; right: 0;
    display: grid; place-items: center;
}

/* ============================== */