/* ======================================== */
.container {
    width: 100%; padding: 0 10px;
}
.base {
    height: 50px;
}
.bottom {
    width: var(--width); height: auto;
    position: fixed; z-index: 1; bottom: 0;
    left: calc(50% - var(--width) / 2);
    background-color: #fff;
    box-shadow: 0 0 2px 2px #ddd;
    display: flex; gap: 10px; 
    align-items: center; padding: 0 5px;
}

/* ======================================== */
.test_box {
    width: auto; flex-grow: 1;
    font-size: 16px; line-height: 20px;
    min-height: 20px; max-height: 100px;
    margin: 5px auto; padding: 10px; outline: none;
    border: 1px solid #ddd; border-radius: 10px;
    word-wrap: break-word; overflow-x: hidden; overflow-y: auto;
}
.test_box::-webkit-scrollbar { width: 6px; }
.test_box:focus-within { box-shadow: 0 0 1px 1px #0d6efd; }

/* ======================================== */
.button {
    --size: 35px; --color: #0d6efd; --bgColor: white;
    width: var(--size); height: var(--size);
    outline: none; border: 0; border-radius: var(--size); 
    color: var(--color); background-color: var(--bgColor);
    display: grid; place-items: center; cursor: pointer;
}
.button:hover {
    color: var(--bgColor); background-color: var(--color);
}
.button > svg {
    --size: 20px; -webkit-user-drag: none; 
    width: var(--size); height: var(--size);
}
