/* ======================================== */
.products {
    width: calc(100% - 10px); margin: 10px auto;
    border: 1px solid #ddd; border-radius: 10px 10px 0 0;
    display: grid; grid-template-columns: 1fr 1fr;
}
@media(max-width: 800px) {
    .products {
        grid-template-columns: 1fr;
    }
}

.totalprice {
    width: calc(100% - 10px); margin: 0 auto 10px;
    border: 1px solid #ddd; border-radius: 0 0 10px 10px;
    border-top: 0; padding: 10px 20px;
    display: flex; align-items: flex-end;
    flex-direction: column;
}
.totalprice > div {
    width: 180px; display: grid;
    grid-template-columns: 80px auto;
    align-items: center;
}
.totalprice > div > span:nth-child(2) {
    text-align: right; color: #ff0000dd;
}

/* ======================================== */
.state {
    --lh:50px; text-align: center;
    font-size: 20px; font-weight: 600;
    height: var(--lh); line-height: var(--lh);
    border-radius: calc(0.5 * var(--lh));
    background-color: #eeea;
}
.title {
    font-weight: bold; padding-left: 10px;
    display: flex; align-items: center;
}
.switch {
    display: flex; margin: 10px 0; gap: 10px;
}

/* ======================================== */
.info {
    width: 100%; margin: 0 auto; 
    padding: 5px 10px; border-radius: 10px;
    background-color:#eeea; color: #777;
    word-break: keep-all; white-space: nowrap;
    overflow: scroll; text-overflow: ellipsis;
}
.info::-webkit-scrollbar {
    width: 0; height: 0;
}
.info > div {
    display: grid; margin: 2px 0;
    grid-template-columns: 50px auto;
    align-items: center;
}

/* ======================================== */
.textarea {
    width: calc(100% - 10px); margin: 10px auto;
    padding: 10px; border-radius: 10px;
    background-color:#eeea; color: #777;
    word-break: normal; word-wrap: break-word;
    white-space: pre-line;
}
