/* ============================== */
.store {
    --imgSize: 200px; --fontSize: 20px;
    width: 100%; margin-bottom: 20px;
    box-shadow: 0 0 2px 2px #ddd;
}
.store > div:nth-child(1) {
    padding: 10px;
}

/* ============================== */
.product > a {
    display: flex; align-items: center;
    padding: 5px; border: 1px solid #ddd;
    border-left: 0; border-right: 0;
    color: inherit; text-decoration: none;
}

.img {
    width: var(--imgSize); height: var(--imgSize);
}
.img > img {
    width: 100%; height: 100%;
    object-fit: cover; border-radius: 5px;
}
.name {
    padding: 0 10px 0 15px; margin: 5px 0;
    width: calc(100% - var(--imgSize) - 10px);
    font-size: var(--fontSize); font-weight: bold;
    display: -webkit-box; overflow: hidden;
    -webkit-box-orient: vertical; -webkit-line-clamp: 2;
    word-wrap: break-word; word-break: break-all;
}

/* ============================== */
.detail {
    display: flex; padding: 5px 10px;
    align-items: flex-end; justify-content: space-between;
    color: #777; font-size: calc(var(--fontSize) - 2px);
}
.detail > div > div {
    display: flex; gap: 10px;
    justify-content: space-between;
}

.btns {
    display: flex; justify-content: flex-end;
    border-top: 1px solid #ddd;
}

/* ======================================== */
@media(max-width: 1250px) {
    .store {
        --fontSize: 18px;
    }
}
@media(max-width: 600px) {
    .store {
        --imgSize: 110px; --fontSize: 16px;
    }
}