/* ======================================== */
.products_area {
    --imgSize: 190px; --fontSize: 15px;
    width: 100%; display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--imgSize), 1fr));
}
.product_card {
    width: var(--imgSize); margin: 5px auto;
    border-radius: 5px; overflow: hidden;
    box-shadow: 0 0 1px 1px #ddd;
    position: relative;
}
.product_card:hover {
    cursor: pointer;
    box-shadow: 0 0 5px 5px #ddd;
}

/* ======================================== */
.heart {
    position: absolute; top: 0; right: 0;
    border: none; outline: none; padding: 8px;
    border-radius: 0 0 0 5px;
    color: #ff0000dd; background-color: #fffd;
}
.heart:active {
    color: #fffd; background-color: #0007;
}
.heart > svg {
    --Size: 18px; width: var(--Size); height: var(--Size);
}

/* ======================================== */
.product_card > a > .img {
    width: var(--imgSize); height: var(--imgSize);
}
.img > img {
    width: 100%; height: 100%;
    object-fit: cover;
    transition: 400ms ease-in-out;
}

.product_card > a > .info {
    padding: 5px; display: grid;
    grid-template-rows: 2fr 1fr;
}
.info > div:nth-child(1) {
    font-size: var(--fontSize);
    display: -webkit-box; overflow: hidden;
    -webkit-box-orient: vertical; -webkit-line-clamp: 2;
    word-break: break-all; word-wrap: break-word;
}
.info > div:nth-child(2) {
    font-size: calc(var(--fontSize) - 1px);
    text-align: right; color: #ff0000aa;
}

/* ======================================== */
@media(max-width: 1250px) {
    .products_area {
        --imgSize: calc(100vw * 0.24);
    }
}
@media(max-width: 900px) {
    .products_area {
        --imgSize: calc(100vw * 0.32);
    }
}
@media(max-width: 600px) {
    .products_area {
        --imgSize: calc(100vw * 0.49);
    }
}
