/* ======================================== */
.mask {
    position: fixed;
    z-index: 5; top: 0; left: 0;
    width: 100vw; height: 100vh;
    background-color: #0004;
}

/* ======================================== */
.img {
    width: 100%; height: 100%;
    margin: 0 auto;
}
.img > img {
    width: 100%; height: 100%;
    object-fit: contain;
}

/* ======================================== */
.close {
    --distance: 15px;
    position: fixed; z-index: 10; cursor: pointer;
    top: var(--distance); right: var(--distance);
    border: 0; outline: none; border-radius: 10px;
    background-color: #0004; color: #fffc;
}
.close:hover {
    background-color: #0006; color: #fff;
}
.close > svg {
    --size: 40px;
    -webkit-user-drag: none; pointer-events: none;
    width: var(--size); height: var(--size);
}

/* ======================================== */