/* ======================================== */
.logo {
    height: 100%; width: 100%;
    font-weight: bold; font-size: 20px; margin-left: 20px;
    display: -webkit-box; overflow: hidden;
    -webkit-box-orient: vertical; -webkit-line-clamp: 1;
}
.rent {
    width: calc(100% - 10px); height: max-content;
    font-size: 30px; font-weight: 600; text-align: center;
    margin: 15px auto; padding: 20px;
    border: 1px solid #ddd; border-radius: 10px;
}
